<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="text-center">
        <h1>About</h1>

        <div><h4>ながのCAKEは全国発送可能なケーキ屋さんです。</h4></div>
        <div><h4>お子様からお年寄りの方までお召し上がりいただけるよう、</h4></div>
        <div><h4>様々なバリエーションをご用意しております。</h4></div>
        <div><h4>また、全国への発送が可能ですので、「いつ」でも「どこ」でもご注文いただけます。</h4></div>
        <div><h4>ぜひご注文ください。</h4></div>

      </div>
    </div>
  </div>
</div>